### Compiled class file ###
*.class

### Logs ###
*.log

### Package Files ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Build System ###
target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
**/src/main/**/out/
**/src/test/**/out/
